<%= form_with(model: announcement, local: true) do |form| %>
  <% if announcement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(announcement.errors.count, "error") %> prohibited this announcement from being saved:</h2>

      <ul>
        <% announcement.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, 'Название товара или услуги: ' %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content, 'Описание товара: ' %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :announcement_type, 'Тип объявления: ' %>
    <%= form.select :announcement_type, Announcement::VALID_TYPES %>
  </div>

  <div class="field">
    <%= form.label :image, 'Изображение: ' %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit 'Обновить' %>
  </div>
<% end %>
