<%= form_with(model: announcement, local: true) do |form| %>
  <% if announcement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(announcement.errors.count, "error") %> prohibited this announcement from being saved:</h2>

      <ul>
        <% announcement.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, 'Name: ' %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content, 'Description: ' %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :announcement_type, 'Type: ' %>
    <%= form.select :announcement_type, Announcement::VALID_TYPES %>
  </div>

  <div class="field">
    <%= form.label :phone, 'Phone: ' %>
    <%= form.telephone_field :phone, autofocus: true, placeholder: '+375(XX)-XXX-XX-XX' %>
  </div>

  <div class="field">
    <%= form.label :image, 'Image: ' %>
    <%= form.file_field :image %>
  </div>

<div class="flex-buttons" style="display:flex;">
  <% if @announcement.draft? || @announcement.rejected? %>
    <div class="actions">
      <%= form.submit 'Save draft' %>
    </div>
  <div class="actions">
    <%= form.submit 'Post announcement', name: 'post_button' %>
  </div>
  <% end %>
</div>
  

<% end %>
