<p id="notice"><%= notice %></p>

<p>
  <strong></strong>
  <%= @announcement.title %>
</p>

<div style="width:400px; height:auto">
	<%= link_to image_tag(@announcement.image, style: "width:100%"), announcements_path if @announcement.image.attached? %>	
</div>


<p>
  <strong>Description:</strong>
  <%= @announcement.content %>
</p>

<p>
  <strong>Type:</strong>
  <%= @announcement.announcement_type %>
</p>

<p>
  <strong>User:</strong>
  <%= @announcement.user_id  %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @announcement.phone %>
</p>

<% if @announcement.draft? || @announcement.rejected? %>
  <% if can? :update, @announcement %>
  	<%= link_to 'Edit', edit_announcement_path(@announcement) %> |
  <% end %>
<% elsif @announcement.ready_to_publish? %>
  <p><b>Announcement is on the moderation...</b></p>
<% end %>

<% if can? :delete, @announcement %>
  <%= link_to 'Delete', @announcement, method: :delete, data: { confirm: 'Are you sure?' } %> | 
<% end %>

<%= link_to 'Back', announcements_path %>

