<h1>My announcements:</h1> 
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Type</th>
      <th>User</th>
      <th>Status of announcement:</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @announcements.each do |announcement| %>
      <tr>
        <td><%= announcement.title %></td>
        <td><div style="width: 60px; height:auto"><%= image_tag(announcement.image, style: "width:100%") if announcement.image.attached? %></div></td>
        <td><%= announcement.content %></td>
        <td><%= announcement.announcement_type %></td>
        <td><%= announcement.user_id %></td>
        <td><%= announcement.status %></td>
        <td><%= link_to 'Show', announcement %></td>
        
        <% if can? :index, @announcement %>
          <td><%= link_to 'Edit', edit_announcement_path(announcement) %></td>
        <% end %>

        <% if can? :destroy, @announcement %>
          <td><%= link_to 'Destroy', announcement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
    <td><%= link_to 'Back', announcements_path %></td>
  </tbody>
</table>